<h1>Products</h1>

<hr>
<div class="form-group">
  <label for="search">Filter keyword: {{ productFilter }}</label><br>
    <input type="search" class="form-control search-box" id="search" [(ngModel)]="productFilter">
    <button type="submit" class="btn btn-default btn-search">Filter</button>
</div>

<hr>

<div class="container-fluid">

  <table class="table table-striped" *ngIf='!products'>
    <tr>
      <td> 
        <img src="/assets/loader.gif" alt="Loading...">
      </td>
    </tr>
  </table>

  <div class="row">
    <table class="table table-striped" *ngIf='products && products.length'>
      <thead>
        <tr>
          <th><a (click)="sortByTitle()" class="sort-link" title="Sort by title">Title <i class="fa fa-sort"></i></a></th>
          <th>Genre</th> 
          <th>System</th>
          <th><a (click)="sortByYear()" class="sort-link" title="Sort by year">Year <i class="fa fa-sort"></i></a></th>
          <th>Price</th>
          <th><a (click)="sortByRating()" class="sort-link" title="Sort by year">Rating <i class="fa fa-sort"></i></a></th>
        </tr>
      </thead>
      <tbody> 
        <tr *ngFor="let product of filteredProducts">
          <td>{{ product.title }}</td>
          <td>{{ product.genre | titlecase }}</td>
          <td>{{ product.system | uppercase }}</td>
          <td>{{ product.year }}</td>
          <td>${{ product.price }}</td>
          <td style="max-width: 120px;">
            <pm-star [rating]="product.rating"></pm-star> 
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="row">

    <hr>
    <button type="submit" class="btn btn-default">Add Product</button>

  </div>
</div>
