
<h1>Products</h1>
<hr>

<div class="form-group">
  <label for="search">Filter keyword: {{ productFilter }}</label><br>
    <input type="search" class="form-control search-box" id="search" [(ngModel)]="productFilter">
</div>


<div class="container-fluid">

  <div class="row">
    <table class="table table-striped" *ngIf='products && products.length'>
      <thead>
        <tr>
          <th><a (click)="sortBy('title')" class="sort-link">Title <i class="fa fa-sort"></i></a></th>
          <th><a (click)="sortBy('genre')" class="sort-link">Genre <i class="fa fa-sort"></i></a></th>
          <th><a (click)="sortBy('system')" class="sort-link">System <i class="fa fa-sort"></i></a></th>
          <th><a (click)="sortBy('year')" class="sort-link">Year <i class="fa fa-sort"></i></a></th>
          <th><a (click)="sortBy('price')" class="sort-link">Price <i class="fa fa-sort"></i></a></th>
          <th><a (click)="sortBy('rating')" class="sort-link">Rating <i class="fa fa-sort"></i></a></th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody> 
        <tr *ngFor="let product of filteredProducts">
          <td>{{ product.title }}</td>
          <td>{{ product.genre | titlecase }}</td>
          <td>{{ product.system | uppercase }}</td>
          <td>{{ product.year }}</td>
          <td>${{ product.price }}</td>
          <td style="max-width: 120px;">
            <pm-star [rating]="product.rating"></pm-star> 
          </td>
          <td> 
            <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/products', product.id, 'edit']">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
