.navbar-inverse {
    margin-bottom: 0;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    border-radius: 0;
    background: #003366;

    li a {
        color: #fff;
    }
    li a:hover {
        color: #97c7f7;

    }
}

.login-link {
    padding-right: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.active-link {
    font-weight: bold;
    font-size: 16px;
    background: rgba(255,255,255,0.05);
}
