<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li *ngFor="let navitem of navitems">
                <a [routerLink]="[navitem.url]" title="{{ navitem.title }}"> {{ navitem.label }} </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/login']">Log In &nbsp;<fa-icon [icon]="faSignInAlt"></fa-icon> </a></li> | 
            <li><a [routerLink]="['/cart']">Shopping Cart &nbsp;<fa-icon [icon]="faCartPlus"></fa-icon> </a></li>
            <li><a [routerLink]="['/user-list']">User List &nbsp; </a></li>
        </ul>
    </div>
</nav>
