
header {
    padding: 20px;
    background: rgb(168, 216, 235);
    background: linear-gradient(to right, rgb(168, 216, 235), rgb(168, 236, 235));
    background-image: url('/assets/bg-angle-blue.jpg');

}

header h1 {
    font-weight: bold;
}