<h1>About</h1>
<p>Games United is a web site for you to find out all the information about your favorite games. Feel free to look around, find your favorite classic and modern games, and sign up for an account if you want to be a part of our newsletter and get special bonuses for being a premium user.</p> 
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus possimus rem maxime esse dignissimos quis fuga? Inventore beatae labore nemo similique ipsam impedit perferendis maiores fugit debitis recusandae reprehenderit ut maxime sed, ratione, aut eius veniam! Illum corrupti deserunt ad non autem molestiae, ex unde quod sed aliquid quia repellendus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A ullam, ab eos quam aspernatur voluptas sed esse nesciunt distinctio explicabo fuga repudiandae! Dolorem dignissimos repellat in dolor unde exercitationem tenetur, nostrum, minima quidem, molestias recusandae assumenda nulla vitae! Pariatur, nihil?</p>

<div class="form-group" *ngIf="isLoggedIn">Check the Angular state: I am logged in.</div>

    