<div class="col-md-3 sidebar">
  <h1>Sidebar</h1>
  <p>Components to build:</p>
  <ul>
    <li>Proper authentication for login</li>
    <li>Pagination for user list and products</li>
    <li>Global spinner</li>
    <li>Add a product detail page with a add/edit/delete/back button</li>
    <li>Weather for today in corner</li>
    <li>Database: CRUD Create, Remove, Update, Delete application</li>
    <li>Add error handling everywhere</li>
    <li>Do unit testing</li>
  </ul>
  <h2>Messages</h2>
  <p>Informational or Error messaging here</p>

</div>
