<div class="sidebar">
  <div class="messages">
  <h2>Messages</h2>
    <p>Informational or error messaging here</p>
    <p *ngIf="isLoggedIn">You are logged in.</p>
  </div>
  <div class="todo">
    <h1>Components</h1>
    <ul>
      <li>Proper authentication for login</li>
      <li>Pagination for user list and products</li>
      <li>Global spinner</li>
      <li>Add a product detail page with a add/edit/delete/back button</li>
      <li>Weather for today in corner</li>
      <li>Database: CRUD Create, Remove, Update, Delete application</li>
      <li>Add error handling everywhere</li>
      <li>Do unit testing</li>
    </ul>
  </div>    
</div>