.sidebar {
    background: rgb(242, 248, 253);
    padding: 20px 20px;
    min-height: 50vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 22px;
}


h2 {
    margin: 20px 0px;
    font-size: 22px;
    font-family: 'Raleway', Arial;
    font-weight: normal;
    color: #003366;


}

ul {
    padding-left: 20px;
}
