<div class="col-md-3 sidebar">
  <h1>Sidebar</h1>
  <p>Components to build:</p>
  <ul>
    <li>Log in and real authentication</li>
    <li>Search games</li>
    <li>Pagination</li>
    <li>Add product</li>
    <li>Edit product</li>
    <li>Delete product</li>
    <li>After login, show User List, Log Out menu items</li>
    <li>Database connection, store data</li>
    <li>CRUD Create, Remove, Update, Delete application</li>
    <li>Loading spinner animation</li>
    <li>Log out function, work with sessions</li>
</ul>

</div>
