<h1>Items</h1>
<br>
<div class="container-fluid">
  <div class="col-md-6 search-area">
    <div class="form-group">
      <label for="search">SEARCH for new game:</label><br>
        <input type="search" class="form-control search-box" id="search" [(ngModel)]="searchKeyword" placeholder="Enter new game here">
        <button type="submit" class="btn btn-default btn-search">Search</button>
    </div>
  </div>
  <div class="col-md-6 search-area">
    <div class="form-group">
      <label for="filter">FILTER these results: {{ gamesFilter }}</label><br>
        <input type="filter" class="form-control filter-box" id="filter" [(ngModel)]="gamesFilter" placeholder="{{ gamesFilter }}">
        <button type="submit" class="btn btn-default btn-filter">Search</button>
    </div>
  </div>
</div>

<table class="table table-striped"> 
  <tr>  
    <th style="width: 15%">&nbsp;</th>
    <th style="width: 30%">Name</th>
    <th>Description</th>
  </tr>
  <tr *ngFor='let game of games.results'>    <!-- NGFOR ONLY OVER [ARRAYS] ONLY, OBJECTS JUST SPECIFY THE VALUE, NO LOOPING -->
    <td><img src="{{ game.image.icon_url }}" style="width: 80px;"></td>
    <td><b>{{ game.name }}</b></td>
    <td>{{ game.deck }}</td>
  </tr>
</table>
