<h1>Items</h1>
<br>
<div class="container-fluid">
  <div class="col-md-6 search-area">
    <div class="form-group">
      <label for="search">SEARCH for new game:</label><br>
        <form method="" action="">
        <input type="search" class="form-control search-box" name="search" id="search" [(ngModel)]="keyword" placeholder="Enter new game here" autocomplete="off">
        <button type="submit" class="btn btn-default btn-search" (click)="getNewGames(keyword)">Search</button>
        </form>
    </div>
  </div>
</div>

<img src="/assets/loader.gif" alt="Loading" style="margin: 0 0 20px;" *ngIf='loadingGoing'>

<table class="table table-striped" *ngIf='!games.results'>
  <tr><td>{{ myWelcomeString }}</td></tr>
</table>

<table class="table table-striped" *ngIf='games.results'> 
  <tr>  
    <th style="width: 15%">&nbsp;</th>
    <th style="width: 30%">Name</th>
    <th>Description</th>
  </tr>
  <tr *ngFor='let game of games.results'>    <!-- NGFOR ONLY OVER [ARRAYS] ONLY, OBJECTS JUST SPECIFY THE VALUE, NO LOOPING -->
    <td><img src="{{ game.image.icon_url }}" style="width: 80px;"></td>
    <td><b>{{ game.name }}</b></td>
    <td>{{ game.deck }}</td>
  </tr>
</table>

