<h1>Welcome to the Products page</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Game</th>
        <th>System</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>F-Zero</td>
        <td>SNES</td>
        <td>1991</td>
      </tr>
      <tr>
        <td>Zelda: A Link to the Past</td>
        <td>SNES</td>
        <td>1991</td>
      </tr>
      <tr>
        <td>Blaster Master</td>
        <td>NES</td>
        <td>1988</td>
      </tr>
      <tr>
        <td>Pilotwings</td>
        <td>SNES</td>
        <td>1991</td>
      </tr>
      <tr>
        <td>Contra 3</td>
        <td>SNES</td>
        <td>1991</td>
      </tr>
      <tr>
        <td>Adventure Island</td>
        <td>NES</td>
        <td>1987</td>
      </tr>
      <tr>
        <td>Mario 64</td>
        <td>N64</td>
        <td>1995</td>
      </tr>
      <tr>
        <td>Contra 3</td>
        <td>SNES</td>
        <td>1991</td>
      </tr>
    </tbody>
  </table>

<ul class="pagination">
    <li><a href="#">1</a></li>
    <li class="active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>