<h1>Contact</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" placeholder="" class="form-control" formControlName="name" required>
    </div>
    <div class="form-group">
        <label for="name">Email</label>
        <input type="email" placeholder="" class="form-control" formControlName="email" required>
    </div>
    <div class="form-group">
        <label for="name">Message</label>
        <textarea placeholder="Message" formControlName="message" class="form-control" rows="5" required></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
    </div>
</form>


<!-- <div class="form-group" *ngIf="isLoggedIn">Check the Angular state: I am logged in.</div class="form-group"> -->
