@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');

//IMPORT ALL LIB .CSS'S HERE, NOT IN ANGULAR.JSON
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');
 
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
}
html {
    font-size: 0.9em;
    font-size: 0.9rem;

}
body {
    background: #fff;
}
p {
    margin: 20px 0;
}
.wrapper.container-fluid {
    padding: 0;
}
h1 {
    font-family: 'Raleway', Arial;
    font-size: 30px;
    margin-top: 10px;
    margin-left: -2px;
    color: #003366;
}

table.table-striped tbody tr:nth-child(odd) {
    background: #f5faff;
}
