@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
}
body {
    background: rgb(238, 242, 252);
}
p {
    margin: 20px 0;
}
.wrapper.container-fluid {
    padding: 0;
}
h1 {
    font-family: 'Raleway', Arial;
    font-size: 30px;
    margin-top: 10px;
    margin-left: -2px;
    color: #003366;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}
table.table-striped tbody tr:nth-child(odd) {
    background: #f5faff;
}
