<div [style.width.px]="starWidth" [title]="rating">
  <div class="star-container">
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
    <fa-icon [icon]="faStar"></fa-icon>
  </div>
</div>

